<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>

	<main class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">
		<header class="page-header row justify-center">
			<div class="col-md-6 col-lg-8">
				<h1 class="float-left text-center text-md-left">Training & development</h1>
				<div class="btn-group">
					<button data-toggle="dropdown" class="btn btn-link btn-lg no-padding dropdown-toggle margin" aria-expanded="false">Entire company <span class="caret"></span></button>
					<ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
						<li><a href="#">Account Management</a></li>
						<li><a href="#" class="font-bold">Product & Engineering</a></li>
						<li class="divider"></li>
						<li><a href="#">London</a></li>
						<li><a href="#">Sheffield</a></li>
					</ul>
				</div>
			</div>
			<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<img src="https://i.imgur.com/sRiXEAA.jpg" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
				<div class="username mt-1">
					<h4 class="mb-1">Shaun Bradley</h4>
					<h6 class="text-muted">People Director</h6>
				</div>
				</a>
				<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink"><%= link_to "My Profile", pages_profile_path, :class => "dropdown-item" %>
				     <a class="dropdown-item" href="#">Logout</a></div>
			</div>
			<div class="clear"></div>
		</header>

		<section class="row space">
			<div class="col-md-6">
				<nav class="breadcrumb">
				</nav>
			</div>
			<div class="col-md-6">
				<div class="float-right">
					<%= link_to pages_compare_path do %>
						<button type="button" class="btn btn-md btn-tertiary">Compare all teams</button>
					<% end %>
					<button type="button" class="btn btn-md btn-secondary">Download report</button>
				</div>
			</div>
		</section>


			 <section class="row">
					<div class="col-sm-12">
						<section class="row">
							<div class="col-md-12 col-lg-12">
								<div class="card mb-4">
									<div class="row">
									<div class="col-md-4 col-lg-4">
										<div class="card-block">
										<h3 class="card-title text-center">Training & Development <em class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="At Perkbox, quality of life represents how people feel about the balance between work and fun..."></em></h3>
										<div class="canvas-wrapper" data-toggle="tooltip" data-placement="top" title="This is a good score, but there's certainly room for improvement. Have a look below for our suggestions for how to try and improve things...">
											<div class="easypiechart" id="easypiechart-4" data-percent="57"><canvas height="300" width="300" style="height: 110px; width: 110px;"></canvas></div>
											<h3 class="mt-2 mb-1 text-center">5.7/<span class="text-muted small" >10</span></h3>
											<p class="mb-1 text-center text-muted small">+0.3 since last week</p>
										</div>
									</div>
									</div>
						
							<div class="col-md-8 col-lg-8">
											<div class="bill">
											<canvas id="line-chart" height="90"></canvas>
										</div>
										</div>
									</div>
							</div>
					</section>

				<section class="row space">
					<div class="col-sm-12">
						<section class="row space">
							<div class="col-md-12 col-lg-12">
								<div class="card mb-6">
									<div class="card-block">
										<h3 class="card-title text-center">What's being said</h3>
										<div class="canvas-wrapper">
											<table class="table">
											<tbody>
												<tr>
													<td>I'm not happy with our training budget.</td>
													<td>Nov 2017</td>
												</tr>
												<tr>
													<td>Everytime I want to go on a training course, my manager says no.</td>
													<td>Nov 2017</td>
												</tr>
												<tr>
													<td>I love the training budget. Thanks Perkbox</td>
													<td>Oct 2017</td>
												</tr>
											</tbody>
										</table>
										<a href="#" class="">Show all <em class="fa fa-chevron-down"></em></a>
										</div>
									</div>
								</div>
							</div>
						</section>

					<section class="row space">
					<div class="col-sm-12">
						<section class="row">
							<div class="col-md-12 col-lg-12">
								<div class="card mb-6">
									<div class="card-block">
										<h3 class="card-title text-center">Suggested Action Items</h3>
										<h6 class="card-subtitle mb-2 text-muted text-center">Choose which items you'd like to appear on the Perkbox action board</h6>
										<ul class="todo-list mt-2">
											<li class="todo-list-item">
												<div class="checkbox mt-1 mb-2">
													<label class="custom-control custom-checkbox">
														<input checked="" type="checkbox" class="custom-control-input"><span class="custom-control-indicator"></span>
														  <span class="custom-control-description">1 book a month budget <em class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="Here's a short description of how it works and what's involved in executing this action item..."></em></span></label>
													<div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
												</div>
											</li>
											<li class="todo-list-item">
												<div class="checkbox mt-1 mb-2">
													<label class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input"><span class="custom-control-indicator"></span>
														  <span class="custom-control-description">Increase training budget <em class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="Here's a short description of how it works and what's involved in executing this action item..."></em></span></label>
													<div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
												</div>
											</li>
											<li class="todo-list-item">
												<div class="checkbox mt-1 mb-2">
													<label class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input"><span class="custom-control-indicator"></span>
														  <span class="custom-control-description">Idea 4 <em class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="Here's a short description of how it works and what's involved in executing this action item..."></em></span></label>
													<div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
												</div>
											</li>
											<li class="todo-list-item">
												<div class="checkbox mt-1 mb-2">
													<label class="custom-control custom-checkbox">
														<input checked="" type="checkbox" class="custom-control-input"><span class="custom-control-indicator"></span>
														  <span class="custom-control-description">Idea 5 <em class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="Here's a short description of how it works and what's involved in executing this action item..."></em></span></label>
													<div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
												</div>
											</li>
											<li class="todo-list-item">
												<div class="checkbox mt-1 mb-2">
													<label class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input"><span class="custom-control-indicator"></span>
														  <span class="custom-control-description">Another idea <em class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="Here's a short description of how it works and what's involved in executing this action item..."></em></span></label>
													<div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
												</div>
											</li>
										</ul>
										<div class="card-footer todo-list-footer">
											<div class="input-group">
												<input id="btn-input" type="text" class="form-control input-md" placeholder="Add your own action items"><span class="input-group-btn">
													<button class="btn btn-primary btn-md" id="btn-todo">Add</button>
											</span></div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</section>
	</main>
</div>

<script type="text/javascript">
$(document).on("click","ul.nav li.parent > a ", function(){          
    $(this).find('i').toggleClass("fa-minus");      
}); 
$(".sidebar span.icon").find('em:first').addClass("fa-plus");

$('#calendar').datepicker({
		});

$("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>



<script type="text/javascript">

$(function() {
   $('#easypiechart-4').easyPieChart({
       scaleColor: false,
       barColor: '#00adee'
   });
});
</script>

<script type="text/javascript">
	$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>





<script>
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov"],
    datasets: [{ 
        data: [5.2,5.4,5.8,5.4,5.8,6.0,6.2,6.9,5.0,5.1,5.7],
        label: "Training",
        borderColor: "#00adee",
        fill: false
      }
    ]
  },
  options: {
    legend: {
    		display: false,
            position: 'bottom',
            labels: {
                fontFamily: 'Lato',
                fontSize: 14,
            }
        },
    scales : {
        xAxes : [ {
            gridLines : {
                display : false,
            }
        } ],
        yAxes : [ {
            gridLines : {
                display : false,
            }
        } ]
    }

  },


});

</script>









